# Conexión a la base de datos PostgreSQL utilizando SQLAlchemy
DATABASE_URL= postgresql+psycopg2://postgres.id_proyecto:contraseña@host:puerto/postgres

# Conexión a API Rest de Supabase
SUPABASE_URL=https://id_proyecto.supabase.co
SUPABASE_KEY=clave_secreta_anon

ADMIN_USER= admin
ADMIN_PASSWORD= contraseña_personalizable